<tr>
    <td colspan="2" style="color: #00000076; font-size: 14px; padding: 5px 0 25px;" >
      * The credit for GST charged by the Airline is included in the airfare and would be available against a separate GST invoice/e-ticket issued by the Airline.<br>
      **The amount has been collected on behalf of insurance company.
    </td>
  </tr>
  <!-- <tr>
      <td colspan="2" style="color: #00000076; font-size: 14px; padding: 5px 0 25px;" >
          
      </td>
  </tr> -->
  <tr>
      <td colspan="2" style="color: #00000076; font-size: 14px; padding: 5px 0 25px;" >
          *Terms & Conditions :<br>
           1. 30% cancellation charge will be applied on the total.<br>
           2. It's your responsibility if you miss the flight.<br>
           3. Invoice is valid without the signature and seal
      </td>
  </tr>

  <!--Recipient Row End-->
  <!--Support Footer Start-->
  <tr>
    <td colspan="2" style="width: 100%; border-top: 2px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
      <h3 style=" margin: 0; padding: 15px 0; background-color: #3bb2e6; color: #fff; text-align: center; text-transform: uppercase; font-weight: 400;">Hermione's Magical Escape Support:</h3>
      <p style="padding-left: 15px;">Call Us: <a href="tel:18001208653" style="color: #3bb2e6;">1800-120-8653</a></p>
      <p style="padding-left: 15px;">Email Us: <a href="mailto:info@tripdesire.com" style="color: #3bb2e6;">HermioneMagicalEscape@gmail.com</a></p>
    </td>
    <!--       <td style="width: 50%; border-left: 1px solid #ccc; border-top: 2px solid #ccc; border-bottom: 1px solid #ccc;  border-right: 1px solid #ccc">
        <h3 style=" margin: 0; padding: 15px 0; background-color: #3bb2e6; color: #fff; text-align: center; text-transform: uppercase; font-weight: 400;">Airline Support:</h3>
        <p style="padding-left: 15px;">Call Us: <a href="tel:18001208653" style="color: #3bb2e6;">1800-120-8653</a></p>
        <p style="padding-left: 15px;">Email Us: <a href="mailto:info@tripdesire.com" style="color: #3bb2e6;">info@tripdesire.com</a></p>
      </td> -->
  </tr>
  <tr>
    <td colspan="2" style="font-size: 13px; padding: 25px 0;">
      Note: This is a computer generated invoice and does not require a signature/stamp. Please do not reply to this email. It has been sent from an email account that is not monitored.
    </td>  
  </tr>
  <!--Support Footer End-->
</table>
</body>
</html>