<%- include("partials/header"); -%>
<h1 style="color: white; text-align : center; margin-top : 100px">Grand Theft Auto 5</h1>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>
<p style="color: white; text-align : center">Cyberpunk 2077</p>

<%- include("partials/footer"); -%>
