<%- include("partials/header"); -%>
<h1 style="margin-top: 100px; color:white; text-align : center; font-size : 4rem;">Welcome to our contact page</h1>
<p style="color: white;">You can send your queries or suggestions through this page, and we will respond to them as soon as possible. If you have content for a post that is not listed on the website, you can also send it to us. Please provide an appropriate title and describe your query briefly to resolve it sooner. You can enter your email as well as password and it will be well encrypted so no one not even us will be able to see or use that password. The Title you add will be taken as subject of email and content will be taken as body of email. So you can securely contact us from here without any third party involvement.</p>

<form action="/contact" method="POST" style="margin-top: 80px;">
    <div class="form-group" style="color:white">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
  <div class="form-group" style="color: white;">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>
  <div class="form-group" style="color : white">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>

<%- include("partials/footer"); -%>
