<%- include("partials/header"); -%>
    <form action="/login" method="post">
    <section class="login" id="login">
        <div class="box-container">
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <h3>Log in</h3>
                <div class="details">
                    <span>Username</span>
                    <input type="text" placeholder="Enter your username" name="username">
                </div>
                <div class="details">
                    <span>Password</span>
                    <input type="password" placeholder="Enter password" name="password">
                </div>
                <p style="color:red; font-size : 20px;"><%=message%></p>
                <button type="submit" class="btn btn-primary">Sign in</button>
                <h1>Or continue with these social profile</h1>
            <div class="share">
                <a href="/auth/google" class="fab fa-google"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
            </div>
            <div class="color">
                <h1>Not registered yet ? <a href="/signup">Register Now</a></h1>
            </div>
            </div>
        </section>
    </form>

<%- include("partials/footer"); -%>