<%- include("partials/header", {isHotelPage : false}); -%>

<section class="new-destination">
  <h1 class="text">Add New Destination</h1>
  <div class="new-destination2">
    <form action="/newdestination" method="POST">
      <div class="form-group">
        <label for="destinationTitle">Destination Title</label>
        <input type="text" class="form-control" id="destinationTitle" name="destinationTitle" required>
      </div>
      <div class="form-group">
        <label for="postBody">Enter First Short Paragraph</label>
        <textarea class="form-control" id="destinationFirstPara" name="destinationFirstPara" rows="6" required></textarea>
      </div>
      <div class="form-group">
        <label for="postBody">Content for the Destination</label>
        <textarea class="form-control" id="destinationBody" name="destinationBody" rows="6" required></textarea>
      </div>
      <div class="form-group">
        <label for="imageLink">First Image Link</label>
        <input type="text" class="form-control" id="firstImageLink" name="firstImageLink" required>
      </div>
      <div class="form-group">
        <label for="imageLink">Another Image Link</label>
        <input type="text" class="form-control" id="imageLink" name="imageLink">
      </div>
      <div class="tp">
        <button type="submit" class="btn btn-primary">Add Destination</button>
      </div>
    </form>
    
  </div>
</section>


<%- include("partials/footer"); -%>
